.side-nav {
  width: 20vw;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
  position: fixed;
}

.side-nav h1 {
  padding: 0;
  margin: 0;
}

.side-nav h1 a {
  text-decoration: none;
  color: whitesmoke;
}

.header-nav {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-nav {
  height: 70%;
}

.body-nav a {
  display: block;
  padding: 16px;
  color: whitesmoke;
  text-decoration: none;
}

.body-nav a:hover {
  background-color: rgba(221, 221, 221, 0.323);
}

.footer-nav {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-nav .gold {
  color: gold;
}
