.body-task {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-task .body-top-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
